{% include base_path %}

<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
  <h2 class="archive__item-title" itemprop="headline">
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
  </h2>

  {% if post.date %}
    <p class="page__meta">
      <i class="fa fa-clock" aria-hidden="true"></i>
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
    </p>
  {% endif %}

  {% if post.excerpt %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 180 }}</p>
  {% endif %}

  {% assign english_url = post.url %}
  {% assign chinese_url = post.translation_url %}
  <p class="paper-radar__links">
    <a href="{{ base_path }}{{ english_url }}">English</a>
    {% if chinese_url %}
      <span aria-hidden="true"> / </span>
      <a href="{{ base_path }}{{ chinese_url }}">中文</a>
    {% endif %}
  </p>
</article>
